@model RegisterViewModel
@{
    ViewData["Title"] = "Forget Password";
    Layout = "~/Views/Shared/_Init_Layout.cshtml";
}
<section class="bg-login">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="wrapper-page">
                    <div class="account-pages">
                        <div class="account-box">
                            <div class="card m-b-30">
                                <div class="card-body">
                                    <div class="card-title text-center">
                                        <img src="~/logo/forgetpassword.png" alt="" style="width:120px;height:120px" class="img-fluid">
                                        <h5 class="mt-3"><b>Forget Password?</b></h5>
                                    </div>
                                    <div class="form mt-5 contact-form">
                                        <div class="form-group ">
                                            <div class="col-sm-12">
                                                <input class="form-control form-control-line" type="text" id="bpNo" autocomplete="off" onkeyup="getPIMSData()" onchange="getPIMSData()" data-parsley-length="[10,10]" name="Name" placeholder="BP No (User Name)" required>
                                                <span style="color:red">@Model.errorMsg</span>
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <div class="col-sm-12">
                                                <input class="form-control form-control-line" id="fullName" type="text" placeholder="Full Name" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <div class="col-sm-12">
                                                <input class="form-control form-control-line" type="email" id="Email1" name="Email" placeholder="Email" readonly parsley-type="email" required>
                                                <input type="hidden" id="Email" name="Email" parsley-type="email"  readonly required>
                                            </div>
                                        </div>

                                        <div class="form-group ">
                                            <div class="col-sm-12">
                                                <input class="form-control form-control-line" type="text" id="PhoneNumber1" placeholder="Mobile" readonly required data-parsley-length="[11,11]">
                                                <input type="hidden" name="PhoneNumber" id="PhoneNumber" required data-parsley-length="[11,11]">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12 mt-4">
                                                <button class="btn btn-primary btn-block" id="signUp">Next ->></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</section>

@section Scripts{
    <script src="~/plugins/sweet-alert/sweetalert2.min.js"></script>
    <script src="~/pages/jquery.sweet-alert.init.js"></script>
    <link href="~/plugins/sweet-alert/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">

        $('#password').keyup(function () {
            var data = this.value;
            if (data.length >= 6) {
                $('#pass').hide();
            } else {
                $('#pass').show();
            }
        })


        $('#signUp').click(function () {

            var email = $('#Email').val();
            var phone = $('#PhoneNumber').val();
            var id = $('#bpNo').val();
            window.location.href= '/Auth/Account/UserOTPOptionSend?email=' + email + "&phone=" + phone + "&id=" + id;

        });

        function getPIMSData() {
            var bpNo = $('#bpNo').val().trim();

            if (bpNo.length == 10) {
                Common.Ajax('GET', '/global/api/GetEmployeeInfoByUserName?userName=' + bpNo, [], 'json', pimsdata, false);

            } else {
                $('#fullName').val('');
                $('#Email').val('');
                $('#PhoneNumber').val('');
                $('#Email1').val('');
                $('#PhoneNumber1').val('');
            }
        }

        function pimsdata(res) {
            if (res == null) {
                swal('', 'You are not registered!', 'warning');
                return false;
            }

            var mobNum = res.mobileNumberPersonal;
            var first3 = mobNum.substring(0, 3);
            var last3 = mobNum.substring(mobNum.length - 3);
            var mask = mobNum.substring(3, mobNum.length - 3).replace(/\d/g, "*");

            var email = res.emailAddressPersonal;
            var n = email.indexOf("@@");
            var firstPart = email.substring(0, n);
            var firstPartEmail = firstPart.substring(n - 3, n);
            var lastPart = email.substring(n);
            var maskEmail = firstPart.substring(0, firstPart.length - 3).replace(/[a-z]/g, '*');

            $('#fullName').val(res.fatherNameEnglish);
            $('#PhoneNumber1').val(first3 + mask + last3);
            $('#Email1').val(maskEmail + firstPartEmail + lastPart);
            $('#Email').val(res.emailAddressPersonal);
            $('#PhoneNumber').val(res.mobileNumberPersonal);
        }

              
        $(document).ready(function () {
            $('#pass').hide();
            $('form').parsley();

        });

    </script>
}
