@model DocumentViewModel;
@{
    ViewData["Title"] = "NewDocument";
}

<div class="col-12">
    <form asp-area="DocumentInfo" asp-controller="Document" asp-action="NewDocument" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="col-10 offset-1" style="margin-top:30px;margin-bottom:50px;border-radius:30px!important;">
            <div class="text-center mb-4">
                <h1 class="text-center" id="brandtext" style="color:#ff6a00;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">PHQ Document</h1>
            </div>
        </div>
        <div class="col-12 row">
            <div class="col-6">
                <div class="input-group form-group">
                    <label class="col-form-label col-4">Document Name</label>
                    <input type="text" name="documentName" style="border:1px solid #4800ff;" class="form-control col-8 form-control-sm pr-5" placeholder="Document Name">

                </div>
                <div class="input-group form-group">
                    <label class="col-form-label col-4">Document Subject</label>
                    <input type="text" name="subject" style="border:1px solid #4800ff;" class="form-control col-8 form-control-sm pr-5" placeholder="Document Subject" required>

                </div>
                <div class="input-group form-group">
                    <label class="col-form-label col-4">Document Keywords</label>
                    <input type="text" name="keywords" style="border:1px solid #4800ff;" class="form-control col-8 form-control-sm pr-5" placeholder="Document Keywords">

                </div>
                <div class="input-group form-group">
                    <label class="col-form-label col-4">Document Type</label>
                    <input type="text" name="documentType" style="border:1px solid #4800ff;" class="form-control col-8 form-control-sm pr-5" placeholder="File Type">

                </div>
            </div>
            <div class="col-6">
                <div class="input-group form-group">
                    <label class="col-form-label col-4">Date</label>
                    <input type="text" name="documentDate" id="documentDate" style="border:1px solid #4800ff;" class="form-control col-8 form-control-sm pr-5" placeholder="Document Date">

                </div>
                <div class="input-group form-group">
                    <label class="col-form-label col-4">Document Department</label>
                    <select class="form-control" name="departmentId" id="departmentId" required>
                        <option value="">Select</option>
                        @foreach (var item in Model.departments)
                        {
                            <option value="@item.Id">@item.deptName</option>
                        }
                    </select>

                </div>
                <div class="input-group form-group">
                    <label class="col-form-label col-4">Document Category</label>
                    <select class="form-control" name="documentCategoryId" id="documentCategoryId" required>
                        <option value="">Select</option>
                        @foreach (var item in Model.documentCategory)
                        {
                            <option value="@item.Id">@item.categoryName</option>
                        }
                    </select>

                </div>
                @*<div class="input-group form-group">
            <label class="col-form-label col-4">Document Description</label>
            <textarea name="documentDescription" style="border:1px solid #4800ff;" class="form-control col-8 form-control-sm pr-5" placeholder="File Description"></textarea>

        </div>*@
                <div class="input-group form-group">
                    <label class="col-form-label col-4">Document</label>
                    <input type="file" name="document" id="documentSelect" multiple class="form-control col-6 form-control-sm"  onchange="addMultipleFile()"/>
                </div>
                <div class="input-group form-group">
                    <label class="col-form-label col-4">File</label>
                    <div id="myObj"></div>
                </div>
                <div class="form-group">
                    <div class="col-12 row">
                        <div class="col-6"></div>
                        <div class="col-4 row text-center">
                            <input type="submit" class="btn btn-sm btn-block text-center col-6" style="border-radius:15px;background-color:#A93370;color:#fff;font-weight:bold" value="Save" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
@section Scripts{ 
    <script>
        var filelist = new Array();
        $(document).ready(function () {
            $('#documentDate').datepicker({ dateFormat: "dd-M-yy", showAnim: "scale", changeMonth: true, changeYear: true, yearRange: "1900:2100" });

        })
        function addMultipleFile() {
            var input = document.getElementById('documentSelect');
            var output = document.getElementById('myObj');

            var HTML = "<table>";
            for (var i = 0; i < input.files.length; ++i) {
                filelist[i] = input.files.item(i).name;
                HTML += "<tr id='fileL" + i + "'><td>" + filelist[i] + "</td></tr>";
                //HTML += "<tr id='fileL"+i+"'><td>" + filelist[i] + "</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button onclick='removeFile(" + i+")'><i class='fa fa-trash'><i></button></td></tr>";
            }
            HTML += "</table>";
            output.innerHTML += HTML;
        }
        //function removeFile(i) {
        //    var input = document.getElementById('documentSelect');
        //    $('#fileL' + i).remove();
        //    filelist.splice(i, 1);
        //}
    </script>
}

