
@{
    ViewData["Title"] = "GridMenuAddressPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title></title>
</head>
<body>
    <div class="row">
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 bg-info">
                                    <h5 class="p-2 text-light">Address Information</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-2 col-sm-6 col-xs-12 p-1">
                                    <div class="form-group text-center card" style="background-color:#efecee;border-color:lightgray;">
                                        <a class="text-center btn btn-default h" href="/AddressData/AddressCategory/Index" style="text-decoration:none;">
                                            <i class="fa fa-tint fa-3x "></i>
                                            <br /><span class="d">Address Category</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12 p-1">
                                    <div class="form-group text-center card" style="background-color:#efecee;border-color:lightgray;">
                                        <a class="text-center btn btn-default h" href="/AddressData/Country/Index" style="text-decoration:none;">
                                            <i class="fa fa-archive fa-3x "></i>
                                            <br /><span class="d">Country</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12 p-1">
                                    <div class="form-group text-center card" style="background-color:#efecee;border-color:lightgray;">
                                        <a class="text-center btn btn-default h" href="/AddressData/Division/Index" style="text-decoration:none;">
                                            <i class="fa fa-renren  fa-3x "></i>
                                            <br /><span class="d">Division</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12 p-1">
                                    <div class="form-group text-center card" style="background-color:#efecee;border-color:lightgray;">
                                        <a class="text-center btn btn-default h" href="/AddressData/District/Index" style="text-decoration:none;">
                                            <i class="fa fa-share-alt fa-3x "></i>
                                            <br /><span class="d">District</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12 p-1">
                                    <div class="form-group text-center card" style="background-color:#efecee;border-color:lightgray;">
                                        <a class="text-center btn btn-default h" href="/AddressData/Thana/Index" style="text-decoration:none;">
                                            <i class="fa fa-language fa-3x "></i>
                                            <br /><span class="d">Thana/Upazila</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12 p-1">
                                    <div class="form-group text-center card" style="background-color:#efecee;border-color:lightgray;">
                                        <a class="text-center btn btn-default h" href="/AddressData/UnionWard/Index" style="text-decoration:none;">
                                            <i class="fa fa-comment fa-3x "></i>
                                            <br /><span class="d">Union/Word</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12 p-1">
                                    <div class="form-group text-center card" style="background-color:#efecee;border-color:lightgray;">
                                        <a class="text-center btn btn-default h" href="/AddressData/Village/Index" style="text-decoration:none;">
                                            <i class="fa fa-free-code-camp fa-3x "></i>
                                            <br /><span class="d">Village</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12 p-1">
                                    <div class="form-group text-center card" style="background-color:#efecee;border-color:lightgray;">
                                        <a class="text-center btn btn-default h" href="/AddressData/PostOffice/Index" style="text-decoration:none;">
                                            <i class="fa fa-handshake-o fa-3x "></i>
                                            <br /><span class="d">Post Office</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12 p-1">
                                    <div class="form-group text-center card" style="background-color:#efecee;border-color:lightgray;">
                                        <a class="text-center btn btn-default h" href="/AddressData/MetropolitanArea/Index" style="text-decoration:none;">
                                            <i class="fa fa-sitemap fa-3x "></i>
                                            <br /><span class="d">Metropolitan Area</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12 p-1">
                                    <div class="form-group text-center card" style="background-color:#efecee;border-color:lightgray;">
                                        <a class="text-center btn btn-default h" href="/AddressData/NationalIdentityType/Index" style="text-decoration:none;">
                                            <i class="fa fa-anchor fa-3x "></i>
                                            <br /><span class="d">National Identity Type</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12 p-1">
                                    <div class="form-group text-center card" style="background-color:#efecee;border-color:lightgray;">
                                        <a class="text-center btn btn-default h" href="/AddressData/Occupation/Index" style="text-decoration:none;">
                                            <i class="fa fa-database fa-3x "></i>
                                            <br /><span class="d">Occupation</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12 p-1">
                                    <div class="form-group text-center card" style="background-color:#efecee;border-color:lightgray;">
                                        <a class="text-center btn btn-default h" href="/AddressData/PoliceSubUnit/Index" style="text-decoration:none;">
                                            <i class="fa fa-institution fa-3x "></i>
                                            <br /><span class="d">Police SubUnit</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12 p-1">
                                    <div class="form-group text-center card" style="background-color:#efecee;border-color:lightgray;">
                                        <a class="text-center btn btn-default h" href="/AddressData/PoliceThana/Index" style="text-decoration:none;">
                                            <i class="fa fa-arrows fa-3x "></i>
                                            <br /><span class="d">Police Thana</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12 p-1">
                                    <div class="form-group text-center card" style="background-color:#efecee;border-color:lightgray;">
                                        <a class="text-center btn btn-default h" href="/AddressData/PoliceUnit/Index" style="text-decoration:none;">
                                            <i class="fa fa-leaf fa-3x "></i>
                                            <br /><span class="d">Police Unit</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12 p-1">
                                    <div class="form-group text-center card" style="background-color:#efecee;border-color:lightgray;">
                                        <a class="text-center btn btn-default h" href="/AddressData/RangeMetro/Index" style="text-decoration:none;">
                                            <i class="fa fa-book fa-3x "></i>
                                            <br /><span class="d">Range Metro</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12 p-1">
                                    <div class="form-group text-center card" style="background-color:#efecee;border-color:lightgray;">
                                        <a class="text-center btn btn-default h" href="/AddressData/ZoneCircle/Index" style="text-decoration:none;">
                                            <i class="fa fa-cogs fa-3x "></i>
                                            <br /><span class="d">Zone Circle</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-md-2 col-sm-6 col-xs-12 p-1">
                                    <div class="form-group text-center card" style="background-color:#efecee;border-color:lightgray;">
                                        <a class="text-center btn btn-default h" href="/AddressData/SpecialBranchUnit/Index" style="text-decoration:none;">
                                            <i class="fa fa-bank fa-3x "></i>
                                            <br /><span class="d">Unit</span>
                                        </a>
                                    </div>
                                </div>

                                @*<div class="col-md-2 col-sm-6 col-xs-12 p-1">
                                    <div class="form-group text-center card" style="background-color:#efecee;border-color:lightgray;">
                                        <a class="text-center btn btn-default h" href="/MasterData/Degree/Index" style="text-decoration:none;">
                                            <i class="fa fa-cube fa-3x "></i>
                                            <br /><span class="d">Degree</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12 p-1">
                                    <div class="form-group text-center card" style="background-color:#efecee;border-color:lightgray;">
                                        <a class="text-center btn btn-default h" href="/MasterData/Disease/Index" style="text-decoration:none;">
                                            <i class="fa fa-user-o fa-3x "></i>
                                            <br /><span class="d">Disease</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12 p-1">
                                    <div class="form-group text-center card" style="background-color:#efecee;border-color:lightgray;">
                                        <a class="text-center btn btn-default h" href="/MasterData/Award/Index" style="text-decoration:none;">
                                            <i class="fa fa-podcast fa-3x "></i>
                                            <br /><span class="d">Award</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12 p-1">
                                    <div class="form-group text-center card" style="background-color:#efecee;border-color:lightgray;">
                                        <a class="text-center btn btn-default h" href="/MasterData/TrainingCategory/Index" style="text-decoration:none;">
                                            <i class="fa fa-leaf fa-3x "></i>
                                            <br /><span class="d">Training Category</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12 p-1">
                                    <div class="form-group text-center card" style="background-color:#efecee;border-color:lightgray;">
                                        <a class="text-center btn btn-default h" href="/MasterData/BCSBatch/Index" style="text-decoration:none;">
                                            <i class="fa fa-fire fa-3x "></i>
                                            <br /><span class="d">BCS Batch</span>
                                        </a>
                                    </div>
                                </div>*@

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



