@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout_Test.cshtml";
}
<h1>@ViewData["Title"]</h1>

<div class="page-head">
    <h4 class="my-2">Advanced Plugins</h4>
</div>
<div class="row">


    <div class="col-lg-6">

        <div class="card m-b-30">
            <div class="card-body bootstrap-select-1">
                <h5 class="header-title pb-3">Bootstrap Material Datetimepicker</h5>
                <div class="row form-material">
                    <div class="col-md-6">
                        <h6 class="light-dark mt-3">Default Material Date Picker</h6>
                        <input type="text" class="form-control" placeholder="2017-06-04" id="mdate">

                        <h6 class="light-dark ">Default Material Date Timepicker</h6>
                        <input type="text" id="date-format" class="form-control" placeholder="Saturday 24 June 2017 - 21:44">

                    </div>
                    <div class="col-md-6">
                        <h6 class="light-dark mt-3">Time Picker</h6>
                        <input class="form-control" id="timepicker" placeholder="Check time">

                        <h6 class="light-dark mt-3">Min Date set</h6>
                        <input type="text" class="form-control" placeholder="set min date" id="min-date">
                    </div>
                </div>

            </div>
        </div>

    </div> <!-- end col -->


</div><!--end row-->